* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #000;
}

footer {
    position: relative;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.fa-microphone-slash {
    color: #fff;
}

.fa-share-square {
    color: #4AC806;
}

.font-size-25 {
    font-size: 25px;
}

.fa-chevron-up {
    color: white;
    font-size: 10px;
}

/* Sezione Videocall */
.container-tasti {
    height: 30px;
    margin-left: 1150px;
    margin-top: 10px;
}

.btn-speaker {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px 5px;
    background-color: #4A4A4A;
    border-radius: 5px;
}

.container-videocall {
    height: 950px;
    background-color: #000;
    width: 100%;
}

.container-row {
    display: flex;
    justify-content: center;
}

.webcam {
    padding: 3px 3px;
}

.webcam-name {
    display: inline;
    color: #fff;
    position: relative;
}

.name-box {
    position: absolute;
    top: 133px;
    right: 152px;
    height: 20px;
    width: 100px;
    box-sizing: border-box;
    background-color: #A0A0A0;
    font-size: 13px;
    text-align: center;
}

.name-box-1 {
    position: absolute;
    top: 178px;
    right: 152px;
    height: 20px;
    width: 100px;
    box-sizing: border-box;
    background-color: #A0A0A0;
    font-size: 13px;
    text-align: center;
}
/* Sezione Videocall */

/* Sezione menu */
.container-menu {
    width: 100%;
    height: 75px;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.container-webcam-micro {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.container-menu-centrale {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.menu-item {
    color: #fff;
    font-size: 12px;
    padding: 0px 15px;
    line-height: 22px;
}

.item-hover {
    color: #fff;
    text-decoration: none;
    padding-top: 42px;
    padding-bottom: 15px;
}

.end-meeting {
    color: #FA2109;
    padding: 31px 15px;
    text-decoration: none;
    font-size: 10px;
    margin-right: -23px;
}

.end-meeting:hover {
    background-color: #4A4A4A;
}
/* Sezione menu */